@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --header-height: 4.5rem;
    
    --first-color: #dc444c;
    --title-color: #222222;
    --text-color: #555555;
    --body-color: #ffffff;
    
    --body-font: 'Poppins', sans-serif;
    --container-width: 1024px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul { list-style: none; }
a { text-decoration: none; }
img { max-width: 100%; height: auto; }

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header {
    width: 100%;
    background-color: var(--body-color);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 600;
    color: var(--title-color);
}

/* .nav__logo img {
    width: 25px;
} */

.nav__menu{
    display: flex;  
    gap: 3rem;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.nav__btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav__toggle {
    display: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__link {
    color: var(--title-color);
    font-weight: 500;
    transition: .3s;
}

.nav__link:hover, .active-link {
    color: var(--first-color);
}

.moon-icon {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--title-color);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0 5rem;
    column-gap: 3rem;
}

.header__img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__img img {
    width: 500px; 
}

.header__data {
    flex: 1;
}

.header__title {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--title-color);
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.header__description {
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
    line-height: 1.6;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.2rem 2.5rem;
    border-radius: 3rem;
    font-weight: 600;
    transition: .3s;
    box-shadow: 0 10px 20px rgba(220, 68, 76, 0.2);
}

.button:hover {
    background-color: #c43a41;
    transform: translateY(-3px);
}

/* --- MOBIL VERSIYA UCHUN (ADAPTIV) --- */
@media screen and (max-width: 768px) {
    .header__container {
        flex-direction: column;
        text-align: center;
        row-gap: 3rem;
    }
    
    .header__title {
        font-size: 2.5rem;
    }
    
    .nav__list {
        display: none;
    }

    .nav__toggle {
        display: block;
    }
}