* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: white;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hero {
    display: flex;
    gap: 40px;
}

.nav-links {
    display: flex;
    gap: 75px;
    font-size: 18px;
}

.logo{
    font-size: 18px;
}

.merry-christmas{
    display: flex;
    background-color: #FFFFFF;
    margin-top: 100px;
    /* justify-content: space-between; */
}

.right-section{
    width: 600px;
    height: 256px;
    margin-left: 225px;
    margin-top: 50px;
}

.right-section h1{
    font-size: 50px;
    opacity: 0.8;
}

.right-section p{
    width: 360px;
    height: 46px;
    margin-top: 20px;
    opacity: 0.8;
    align-items: center;
}


.btn-get-started{
    font-size: 15px;
    display: inline-block;
    padding: 18px 48px;
    background-color: rgb(222, 51, 51);
    color: white;
    opacity: 0.8;
    border-radius: 75px;
}

.right-section .btn-get-started{
    margin-top: 50px;
}


